@model List<ActivityModel>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Pending</h1>
            @if(Model.Count() > 0)
            {
                @foreach (var activity in Model.Where(x => x.Status.Name == "Pending"))
                {
                    <div class="card text-center">
                        <div class="card-header btn-primary">
                            @activity.Status.Name
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@activity.Title</h5>
                            <p class="card-text">@activity.Description</p>
                            <a asp-action="ChangeCard" asp-controller="Activity" asp-route-id="@activity.Id">Next Card</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @activity.CreatedDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }
        </div>

            <div class="col-4">
            <h1>OnGoing</h1>
            @if (Model.Count() > 0)
            {
                @foreach (var activity in Model.Where(x => x.Status.Name == "OnGoing"))
                {
                    <div class="card text-center">
                        <div class="card-header bg-warning">
                            @activity.Status.Name
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@activity.Title</h5>
                            <p class="card-text">@activity.Description</p>
                            <a a asp-action="ChangeCard" asp-controller="Activity" asp-route-id="@activity.Id">Next Card</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @activity.CreatedDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }

            </div>
            
            <div class="col-4">
            <h1>Done</h1>
            @if (Model.Count() > 0)
            {
                @foreach (var activity in Model.Where(x => x.Status.Name == "Done"))
                {
                    <div class="card text-center">
                        <div class="card-header bg-success">
                            @activity.Status.Name
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@activity.Title</h5>
                            <p class="card-text">@activity.Description</p>
                            <a asp-action="Delete" asp-controller="Activity" asp-route-id="@activity.Id">Delete Card</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @activity.CreatedDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }
            </div>
        </div>
    </div>